body{
  color: #6e657e !important;
  font-size: 16px !important;
  font-family: "Spartan", sans-serif;
}
h2{
 line-height: 50px !important;
 font-weight: 700 !important;
 color: #121212eb !important;
 font-size: 36px !important;
 padding: 10px 0;
}
p{
  padding: 20px  0;
}
h3{
  color: #121212 !important;
  font-weight: 700 !important;
  padding: 10px 0;
}
h5{
  color: #121212 !important;
}
/********** Template CSS **********/
:root {
  --primary: #3763EB;
  --light: #F4F7FE;
  --dark: #14183E;
}
/************ Navbar Css ************/
.vvd{
  border: 1px solid white;
  background-color: transparent;
  color: white !important;
  border-radius: 10px;
  padding: 11px 30px;
  margin: 0 18px;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}
.vvd::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--light) !important;

  background-color: var(--light);
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 9px;

}
.vvd:hover::before {
  transform: scaleX(1);
}

.vvd:hover {
  background-color: transparent;
  color: black;
}
.navbar_icon_gradient{
  border-radius: 30% !important;
  background: linear-gradient(90.21deg, rgba(208, 83, 158, 0.5) -5.91%, rgba(103, 73, 236, 0.5) 111.58%);
  text-align: center;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: white;
  color: #121212 !important;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--light) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 180px 0 100px 0;
  background: var(--primary) url(../src/assets/images/img-wave.png);
  background-position: bottom right;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  color: #fff !important;
}

.banner h1 {
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: var(--light);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
button.download{
  border-radius: 50px;
  padding: 15px 19px;
  border: none  ;
  color: var(--primary);
  font-weight: 500;
  font-size: 16px;
}
@keyframes jumpFromUpToDown {
  0% {
    transform: translateY(-100px); 
    opacity: 0; 
  }
  50% {
    transform: translateY(10px);
    opacity: 1; 
  }
  100% {
    transform: translateY(0);
    opacity: 1; 
  }
}

.jump-text {
  display: inline-block; 
  animation: jumpFromUpToDown 1s ease-in-out forwards; 
}


/************ Features Css ************/
.features{
  position: relative;
  padding: 60px 0;

}
.header-with-line {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  color: #1C2E49;
  padding-bottom: 24px !important;
}

.header-with-line::after {
  content: '';
  display: block;
  width: 50px; 
  height: 2px; 
  background-color: var(--primary);
  position: absolute;
  bottom: -5px;
  left: 0;
}
.wrapper{
  background-color: #f6f9fc;
  border-radius: 5px;
  padding: 50px;
  display: block;
  width: 70%;
  justify-content: right;

}
.right-aligned {
  display: flex;
  justify-content: flex-end;
}
.rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rating-score {
  font-size: 3em;
  font-weight: bold;
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  color: gold;
  font-size: 1.5em;
  margin-right: 0.2em;
}

.star.half {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: lightgray;
}

.star.half::before {
  content: '\2605';
  position: absolute;
  left: 0;
  top: 0;
  color: gold;
  width: 50%;
  overflow: hidden;
}

.reviews {
  font-size: 1em;
  color: gray;
}
.service-item {
  position: relative;
  padding: 45px 30px;
  background: rgb(246,249,252);
  transition: .5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  color: var(--primary);
  background: rgb(246,249,252);
  transition: .5s;
}

.service-item:hover .service-icon {
  background: rgb(246,249,252);
}

.service-item h5,
.service-item p {
  transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
  color: #FFFFFF !important;
}

.service-item a.btn {
  position: relative;
  display: flex;
  color: var(--primary);
  transition: .5s;
  z-index: 1;
}

.service-item:hover a.btn {
  color: var(--primary);
}

.service-item a.btn::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 35px;
  background: rgb(246,249,252);
  transition: .5s;
  z-index: -1;
}

.service-item:hover a.btn::before {
  width: 100%;
  background: rgb(246,249,252);
}
.icon{
  background-color: var(--primary);
  display: inline-block;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 60px 60px 60px 0;
  font-size: 25px;
  margin: 20px 0;  
}
.dots-image {
  position: absolute;
  left: 20px; 
  bottom: 50px;
  width: 20%; 
  height: auto;
  z-index: -1; 
}

.service-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.service-item h5 {
  margin-bottom: 15px;
}

.service-item p {
  margin-bottom: 15px;
}

.service-item a {
  margin-top: auto;
}


/************ Overview Css ************/

.overview{
  background: #f6f9fc;
  padding: 60px 0;

}
.btn1{
  background-color: var(--primary) !important;
  border: none !important;
  border-radius: 6px !important;
  color: var(--light) !important;
  padding: 8px 19px !important;

}
.btn2{
  color: #081828;
  border: none;
  padding: 10px 25px;
  margin: 0 10px !important;
  background-color: white;
  border-radius: 6px !important;
  box-shadow: 0px 0px 20px 0px rgba(52, 49, 75, 0.1);
}
ul {
  list-style: none; 
  padding-left: 0;
}
ul li {
  position: relative; 
  padding-left: 25px; 
  margin-bottom: 10px;  
}


/************ screenshot Css ************/
.screeenshot{
  text-align: center !important;
  padding: 60px 0;

}
.header-with-line2 {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  color: #1C2E49;
  padding-bottom: 24px !important;
}

.header-with-line2::after {
  content: '';
  display: block;
  width: 53px; 
  height: 2px; 
  background-color: var(--primary);
  position: absolute;
  bottom: -5px;
  left: 100px;
}
/* .single-screen{
  display: flex;
 vertical-align: top;
 white-space: normal;
}
.single-screen img{
  width: 24%;
  height: auto;
  gap: 10;
} */


/* Styling for the screenshot section */
.screenshot {
  padding: 2rem;
  text-align: center; 
}

.carousel-indicators li {
  background-color: black !important;
  border-radius: 50% !important;
  width: 12px;
  height: 12px;
  margin: 1px;
}

.carousel-indicators .active {
  background-color: darkblue !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.custom-carousel .carousel-indicators {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.img_size{
  width: 23% !important;
  height: auto;
  transition: 2s;
}
.img_size:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/* Pricing style */

.pricing{
  background: #f6f9fc;
  font-family: "Montserrat", sans-serif;

  text-align: center;
  padding: 3rem;
  
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html {
  font-size: 15px;
} */
/* body {
  background: #f7f7ff;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
} */
header {
  color: hsl(233, 13%, 49%);
  margin: 3.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggle {
  margin-top: 2rem;
  color: hsl(234, 14%, 74%);
  display: flex;
  align-items: center;
}
.toggle-btn {
  margin: 0 1rem;
}
.checkbox {
  display: none;
}

.sub {
  background: linear-gradient(
    135deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 25px;
  width: 50px; */
  height: 1.6rem;
  width: 3.3rem;
  border-radius: 1.6rem;
  padding: 0.3rem;
}
.circle {
  background-color: #fff;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}
.checkbox:checked + .sub {
  justify-content: flex-end;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overview_ul li::before {
  content: "\f00c"; 
  font-family: "FontAwesome"; 
  position: absolute;
  left: 0; 
  top: 0; 
  color: #4CAF50; 
  font-size: 16px;
}
.card {
  background: #fff;
  color: hsl(233, 13%, 49%);
  border-radius: 0.8rem;
}

.cards .card.active {
  background: linear-gradient(
    135deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
  color: #fff;
  display: flex;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
}
.card_ul {
  margin: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card_ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
.card_ul li.price {
  font-size: 3rem;
  color: hsl(232, 13%, 33%);
  padding-bottom: 2rem;
}
.shadow {
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.card.active .price {
  color: #fff;
}

.btn3 {
  margin-top: 1rem;
  height: 2.6rem;
  width: 13.3rem;
  display: flex;
  transition: 1s;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(
    135deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
  color: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
  transition: background-color 0.5s, transform 0.5s;
}
.btn3:hover {
  background-color: black;
  color: white;
  transform: translateY(-8px); /* Move the button up */
}

.active-btn {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}
.card.active .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}
.pack {
  font-size: 1.2rem;
  font-weight: 580;
}

@media (max-width: 280px) {
  ul {
    margin: 1rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  .cards {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .card {
    transform: scale(0.8);
    margin-bottom: 1rem;
  }
  .cards .card.active {
    transform: scale(0.8);
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  ul {
    margin: 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 768px) and (max-width: 1046px) {
  .cards {
    display: flex;
  }
  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}
/* testimonials css */


.testimonials {
  text-align: center;
  padding: 50px 0;
}

.testimonials .text-primary {
  font-size: 1.5rem;
  color: #007bff;
}

.testimonials .header-with-line2 {
  font-size: 2rem;
  margin: 20px 0;
  position: relative;
}

.testimonials .header-with-line2::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #007bff;
  display: block;
  margin: 10px auto;
}

.testimonials p {
  color: #777;
  margin-bottom: 40px;
}

#customers-testimonials {
  display: flex;
  justify-content: center;
}

#customers-testimonials .item {
  padding: 30px;
  background: rgb(246,248,253);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

#customers-testimonials .img-circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
}

#customers-testimonials .testimonial-name {
  font-weight: bold;
  margin-top: 10px;
}

#customers-testimonials .testimonial-title {
  color: #777;
  font-size: 0.9rem;
}

.stars2 {
  display: flex;
  align-items: center;
}

.star2 {
  color: var(--primary);
  font-size: 1.2em;
  margin-right: 0.2em;
}

.star2.half2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: lightgray;
}

.star2.half2::before {
  content: '\2605';
  position: absolute;
  left: 0;
  top: 0;
  color: var(--primary);
  width: 50%;
  overflow: hidden;
}

/*** Footer ***/
.footer {
  background: url(./assets/images/footer.png) center center no-repeat;
  background-size: contain;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.5);
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 40px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: rgba(255,255,255,.5);
  font-weight: normal;
  transition: .3s;
}

.footer .btn.btn-link:hover {
  color: #FFFFFF;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
  color: #FFFFFF;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* team css */

.team{
  text-align: center;
  padding: 50px 0;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  background-color: #fff;
  border-radius: 30%;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100% !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: whitesmoke;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


/* Video css */

.video{
  background-image: url(./assets/images/video-bg.jpeg);
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  background-attachment: fixed;
}
.video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #081828de; 
}

.video-content {
  position: relative;
  z-index: 2;
}
.video-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.video-content p {
  font-size: 1.25rem;
}

.video-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.header-with-line4 {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding-bottom: 24px !important;
}

.header-with-line4::after {
  content: '';
  display: block;
  width: 53px; 
  height: 2px; 
  background-color: white;
  position: absolute;
  bottom: -5px;
  left: 200px;
}
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #eb2055; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 150%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 255, 0.695);
  border-radius: 50%;
  animation: pulse-border 1100ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 150%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 120px;
  height: 120px;
  background: var(--primary);
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 10px;
  height: 10px;
  border-left: 19px solid #fff;
	border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  top: 90px;
  left: 5px;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}